@using Jawlaty.Auth.DTO;
@model ResetPasswordDTO

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<h1>Reset Password</h1>

<form asp-controller="Auth" asp-action="RestPassword" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" class="form-label mt-4"></label>
                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NewPassword" class="form-label mt-4"></label>
                <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
