@model Jawlaty.ViewModel.CreateVenue

@{
    ViewData["Title"] = "CreateVenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Venue</h1>
<form asp-controller=" Venue" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ArName" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="ArName" placeholder="Arabic Name">
                <span asp-validation-for="ArName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EnName" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="EnName" placeholder="English Name">
                <span asp-validation-for="EnName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CityID" class="form-label mt-4"></label>
            <select class="form-select" asp-for="CityID" asp-items="Model.Citys"
                    data-placeholder="Select a category" data-minimum-results-for-search="Infinity">
                <option value=""></option>
            </select>
            <span asp-validation-for="CityID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="VenueType" class="form-label mt-4"></label>
            <select id="venueType" class="form-select" asp-for="VenueType" asp-items="Html.GetEnumSelectList<VenueType>()"
                    data-placeholder="Select a category">
              
            </select>
            <span asp-validation-for="VenueType" class="text-danger"></span>
        </div>

        <div id="hotelOptions" style="display:none;">
            <div class="mt-4">
                <input type="checkbox" asp-for="HASWIFI" /> Has Wifi
                <input type="checkbox" asp-for="HASPOOL" /> Has Pool
                <input type="checkbox" asp-for="HasGym" /> Has Gym
                <input type="checkbox" asp-for="HasSpa" /> Has Spa
                <input type="checkbox" asp-for="HasRestaurant" /> Has Restaurant
                <input type="checkbox" asp-for="Parking" /> Has Parking
            </div>
        </div>

        <div id="restaurantOptions" style="display:none;">
            <div class="mt-4">
                <input type="checkbox" asp-for="Italian" /> Italian
                <input type="checkbox" asp-for="Chinese" /> Chinese
                <input type="checkbox" asp-for="Indian" /> Indian
                <input type="checkbox" asp-for="Middle" /> Middle Eastern
                <input type="checkbox" asp-for="Mexican" /> Mexican
                <input type="checkbox" asp-for="Vegetarian" /> Vegetarian
                <input type="checkbox" asp-for="Vagen" /> Vegan
                <input type="checkbox" asp-for="Glutenfree" /> Gluten Free
            </div>
        </div>

        <div id="entertainmentOptions" style="display:none;">
            <div class="mt-4">
                <input type="checkbox" asp-for="HasLiveMusic" /> Live Music
                <input type="checkbox" asp-for="HasTheater" /> Theater
                <input type="checkbox" asp-for="HasSport" /> Sports
                <input type="checkbox" asp-for="HasCinema" /> Cinema
                <input type="checkbox" asp-for="HasShopping" /> Shopping
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label mt-4"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="ImageUrl" class="form-label mt-4"></label>
            <input type="file" class="form-control" id="Image" name="ImageFile" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" asp-action="Create">Create Venue</button>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@


<script>
    document.getElementById('venueType').addEventListener('change', function () {
        const hotelOptions = document.getElementById('hotelOptions');
        const restaurantOptions = document.getElementById('restaurantOptions');
        const entertainmentOptions = document.getElementById('entertainmentOptions');

        hotelOptions.style.display = 'none';
        restaurantOptions.style.display = 'none';
        entertainmentOptions.style.display = 'none';

        const selectedValue = this.value;
        if (selectedValue === '1') { 
            hotelOptions.style.display = 'block';
        } else if (selectedValue === '2') { 
            restaurantOptions.style.display = 'block';
        } else if (selectedValue === '3') { 
            entertainmentOptions.style.display = 'block';
        }
    });
</script>

