@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="container">
    <h2 class="mt-5 mb-4">Welcome to the Staff Dashboard</h2>
    <p class="lead">Here you can manage all your actions in one place.</p>
</div>