@model Jawlaty.Models.Hotel 

@{
    ViewData["Title"] = "Create Hotel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-4">
    <h2>Create New Hotel</h2>
    <form asp-action="CreateHotel" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" name="Title" required />
        </div>
  
        <div class="form-group mt-3">
            <label for="LongDescription">Description</label>
            <textarea class="form-control" id="Description" name="Description" rows="5" required></textarea>
        </div>

        <div>
            <label asp-for="HASWIFI"></label>
            <input asp-for="HASWIFI" type="checkbox" />
        </div>

        <div>
            <label asp-for="HASPOOL"></label>
            <input asp-for="HASPOOL" type="checkbox" />
        </div>

        <div>
            <label asp-for="HasGym"></label>
            <input asp-for="HasGym" type="checkbox" />
        </div>

        <div>
            <label asp-for="HasSpa"></label>
            <input asp-for="HasSpa" type="checkbox" />
        </div>

        <div>
            <label asp-for="HasRestaurant"></label>
            <input asp-for="HasRestaurant" type="checkbox" />
        </div>

        <div>
            <label asp-for="Parking"></label>
            <input asp-for="Parking" type="checkbox" />
        </div>

        <div>
            <label asp-for="Food"></label>
            <input asp-for="Food" type="checkbox" />
        </div>

        <div>
            <label asp-for="Art"></label>
            <input asp-for="Art" type="checkbox" />
        </div>

        <div>
            <label asp-for="History"></label>
            <input asp-for="History" type="checkbox" />
        </div>

        <div>
            <label asp-for="Sports"></label>
            <input asp-for="Sports" type="checkbox" />
        </div>

        <div>
            <label asp-for="Shopping"></label>
            <input asp-for="Shopping" type="checkbox" />
        </div>
        <div class="form-group mt-3">
            <label for="Image">Image</label>
            <input type="file" class="form-control" id="Image" name="ImageFile" />
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Create Hotel</button>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>