@model Jawlaty.Models.Restaurant 

@{
    ViewData["Title"] = "Create Restaurant";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-4">
    <h2>Create New Announcement</h2>
    <form asp-action="CreateRestaurant" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" name="Title" required />
        </div>

        <div>
            <label asp-for="TimeInput"></label>
            <input asp-for="TimeInput" type="datetime-local" />
        </div>

        <div>
            <label asp-for="Timeout"></label>
            <input asp-for="Timeout" type="datetime-local" />
        </div>

        <div class="form-group mt-3">
            <label for="LongDescription">Description</label>
            <textarea class="form-control" id="Description" name="Description" rows="5" required></textarea>
        </div>

        <div>
            <label asp-for="Italian"></label>
            <input asp-for="Italian" type="checkbox" />
        </div>

        <div>
            <label asp-for="Chinese"></label>
            <input asp-for="Chinese" type="checkbox" />
        </div>

        <div>
            <label asp-for="Indian"></label>
            <input asp-for="Indian" type="checkbox" />
        </div>

        <div>
            <label asp-for="Middle"></label>
            <input asp-for="Middle" type="checkbox" />
        </div>

        <div>
            <label asp-for="MiAmeicanddle"></label>
            <input asp-for="MiAmeicanddle" type="checkbox" />
        </div>

        <div>
            <label asp-for="Mexican"></label>
            <input asp-for="Mexican" type="checkbox" />
        </div>

        <div>
            <label asp-for="Vegetarian"></label>
            <input asp-for="Vegetarian" type="checkbox" />
        </div>

        <div>
            <label asp-for="Glutenfree"></label>
            <input asp-for="Glutenfree" type="checkbox" />
        </div>
        <div class="form-group mt-3">
            <label for="Image">Image</label>
            <input type="file" class="form-control" id="Image" name="ImageFile" />
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Create Hotel</button>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>